.title {
    align-self: flex-start;
    background: var(--purple);
    color: var(--white);
    font: var(--headline5);
    padding-block: 4px;
    padding-inline: 8px;
    box-shadow: -4px 4px 0 var(--white);
    text-decoration: none;
}